body {
  padding: 5px 15px;
}

#entete {
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
}

#entete h1 {
  text-transform: uppercase;
  text-align: center
}

#info-entete {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 2fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 7px;
  margin-bottom: 20px;
}

#info-entete input, #info-bordereau input, #pied-bordereau input {
  border: none;
  background-color: transparent;
}

#entete label, #info-bordereau label, #pied-bordereau label, .bold {
  font-weight: bold;
}

/* CONTENU */

#contenu {
  margin: 5px 0;
}

table:first-child {
  width: 100%;
}

table:nth-child(2) {
  width: 75%;
  margin-left: 20%
}

#fiche-tracabilite table, #fiche-tracabilite th {
  border: 1px solid black;
  border-collapse: collapse;
}

#fiche-tracabilite td {
  border-collapse: collapse;
  border-right: 1px solid black;
  text-align: center;
  padding: 7px 0;
}

.ligne-totaux td {
  border-right: none;
  border-top: 1px solid black;
  font-weight: bold;
}

table:first-child {
  margin-bottom: 20px;
}

#espace {
  height: 15em;
}

#pied {
  display: grid;
  grid-template-columns: 3fr 4fr 4fr;
  grid-template-rows: auto;
  grid-gap: 3px;
}

#bloc-virtuel {
  padding-top: 50%;
}

.bloc-jum {
  border: solid 1px black;
}

.bloc-espace {
  height: 4em;
}

.hr {
  height: 1px;
  background-color: black;
}

.bloc-jum input {
  border: none;
  background-color: transparent;
}

/*
===================== 
BORDEREAU
=======================
*/

#entete-bordereau, #info-bordereau {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#entete-bordereau .hr {
  width: 100px;
  margin-left: 12%;
  height: 0;
  border-top: dashed 1px black;
  /* border-style: dashed; */
}

#motto {
  text-align: center;
}

#num-dossier {
  text-align: center;
}

#num-dossier h4 span {
  text-decoration-line: underline;
  margin-right: 10px;
}

#info-bordereau label, #pied-bordereau label {
  width: 250px;
  margin-right: 25px;
}

#info-bordereau * {
  margin: 0;
}

#pied-bordereau {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-left: 25%;
  margin: 50px 0;
}

#pied-bordereau div {
  text-align: right;
}

#pied-bordereau div input, #pied-bordereau div label {
  margin: 15px 10px;
}

#tableau {
  padding-top: 25px;
}

#bloc {
  border: solid 1px black;
  height: 300px;
  text-align: center;
}

/*
===================== 
BORDEREAU
=======================
*/

.bold {
  letter-spacing: 1px;
}