
#fiche-tracabilite #entete {
  padding: 1px 7px;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 15px;
}

#fiche-tracabilite #entete h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

#fiche-tracabilite #info-entete {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 17px;
  margin-bottom: 5px;
  padding-left: 10px;
}

#fiche-tracabilite #info-entete input, 
#fiche-tracabilite #info-bordereau input, 
#fiche-tracabilite  #pied-bordereau input, 
#fiche-tracabilite .bloc-jum input {
  border: none;
  background-color: transparent;
  color: rgb(211, 198, 198);
  letter-spacing: 1px;
}

#fiche-tracabilite #entete label, 
#fiche-tracabilite #info-bordereau label, 
#fiche-tracabilite #pied-bordereau label, 
#fiche-tracabilite .bold {
  font-weight: bold;
}

/* CONTENU */

#fiche-tracabilite #contenu {
  margin: 3px 0;
  padding: 7px 0 0 13px;
}

#fiche-tracabilite table:first-child {
  width: 100%;
}

#fiche-tracabilite table:nth-child(2) {
  width: 75%;
  margin-left: 20%
}

#fiche-tracabilite table, #fiche-tracabilite th {
  border: 1px solid black;
  border-collapse: collapse;
}

#fiche-tracabilite #fiche-tracabilite td {
  border-collapse: collapse;
  border-right: 1px solid black;
  text-align: center;
  padding: 2px 0;
}

#fiche-tracabilite #fiche-tracabilite .ligne-totaux td {
  border-right: none;
  border-top: 1px solid black;
  font-weight: bold;
}

#fiche-tracabilite table:first-child {
  margin-bottom: 10px;
}

#fiche-tracabilite #espace {
  height: 2em;
}

#fiche-tracabilite #pied {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr;
  grid-template-rows: auto;
  grid-gap: 5px;
}

#fiche-tracabilite #bloc-virtuel {
  padding-top: 130%;
  font-size: 12px;
  font-weight: bold;
}

#fiche-tracabilite .bloc-jum {
  border: solid 1px black;
  height: 200px;
}

#fiche-tracabilite .bloc-jum input {
  width: 80px;
}

#fiche-tracabilite .bloc-espace {
  height: 2em;
}

#fiche-tracabilite .hr {
  border-top: solid 1px black;
}

/*
===================== 
BORDEREAU
=======================
*/

#fiche-tracabilite #entete-bordereau {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 15px;
}

#fiche-tracabilite #info-bordereau {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

#fiche-tracabilite #entete-bordereau .hr {
  width: 100px;
  margin-left: 15%;
  border-top: dashed 1px black;
}

#fiche-tracabilite #entete-bordereau h4, #fiche-tracabilite #entete-bordereau h3 {
  margin: 7px;
}

#fiche-tracabilite #motto *:not(h4) {
  text-align: center;
}

#fiche-tracabilite #motto h4, #fiche-tracabilite #num-dossier {
  text-align: center;
  font-size: 15px;
}

#fiche-tracabilite #num-dossier h4, #fiche-tracabilite #num-dossier+h5 {
  margin: 3px;
}

#fiche-tracabilite #num-dossier h4 span {
  text-decoration-line: underline;
  margin-right: 10px;
}

#fiche-tracabilite #info-bordereau label, #fiche-tracabilite #pied-bordereau label {
  width: 250px;
  margin-right: 25px;
}

#fiche-tracabilite #pied-bordereau {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#fiche-tracabilite #pied-bordereau input {
  width: 100px;
}

#fiche-tracabilite #pied-bordereau div:first-child {
  /* text-align: right; */
}

#fiche-tracabilite #pied-bordereau div input, #fiche-tracabilite #pied-bordereau div label {
  margin: 0px 10px;
}

#fiche-tracabilite #tableau {
  border: solid 1px black;
  margin-top: 10px;
}

#fiche-tracabilite #bloc {
  border: solid 1px black;
  height: 250px;
}

/*
===================== 
BORDEREAU
=======================
*/

fiche-tracabilite .bold {
  letter-spacing: 1px;
}