body {
  padding: 5px 15px;
}

#entete {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

label, input {
  margin: 0 0 7px 0;
}

label {
  font-weight: bold;
  margin-right: 1.5em;
}

input {
  border: none;
  background-color: transparent;
}

#contenu {
  margin-top: 10px;
}

#entete-droite {
  /* background-color: rebeccapurple; */
}

#entete-droite h5 {
  text-align: right;
}

#cadre-entete {
  width: 50%;
  margin: 0 25%;
  text-align: center;
  border: solid 1px black;
}

#cadre-entete+div {
  text-align: center;
  margin: 12px 0;
  /* border-radi */
}

table {
  width: 100%;
}

#table-container {
  padding: 0 0 15px 0px;
  border: solid 1px black;
}

#table-contenu {
  width: 75%;
  margin: 25px 12%;
}

table, th {
  border: solid 1px black;
  border-collapse: collapse;
}

td {
  border-collapse: collapse;
  border-right: 1px solid black;
  text-align: center;
  padding: 7px 0;
}

@media print {
  body {
    font-size: 14px;
  }
  td {
    padding: 3px 0;
  }
}

.colis td {
  border-right: none;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}

.colis:last-child {
  font-weight: bold;
}

#marchandise {
  margin: 0 5%;
  /* border: solid 1px black; */
}

#dg {
  text-align: center;
  border: solid 1px black;
  width: 50%;
  margin: 50px 0 0 40%;
  height: 200px;
  padding: 10px 0 0 0;
  font-weight: bold;
}

.hr {
  margin-top: 10px;
  height: 1px;
  background-color: black;
}

input {
  border: none;
  background-color: transparent;
  color: rgb(211, 198, 198);
  letter-spacing: 1px;
}