body{

}

.container h2{
    margin-bottom: 50px;
}

.first, .second{
    margin-right: 80px;
}

.dis{
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 7px 0px 10px 15px; 
    margin-bottom: 25px;
}

.second .dis, .third .dis{
    width: 300px;
}